body {
    margin: 0;
}

.first-section {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}